<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sinatra RPS</title>
</head>
<body>
    <% if title %>
    <%= title %>
    <% end %>

    <% if user %>
    <%= user %>
    <% end %>

    <% if computer %>
    <p>They played <%= computer %>!</p>
    <% end %>

    <% if result %>
    <p>We <%= result %>!</p>
    <% end %>

    <% if result %>
      <a href="/">Rules</a>
    <% end%>
</body>
</html>
